* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.white-color {
  color: #fff;
}
.background-red {
  background-color: red;
}

.background-green {
  background-color: green;
  margin: 0 15px;
}

.background-blue {
  background-color: blue;
}
.row {
  display: flex;
}
.container {
  justify-content: space-between;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 20px;
  flex: 1;
}
