@import url(/assets/css/base.css);
/* header-product-detail */
.parent-nav:hover .sub-nav {
  height: 0;
}
/* content */
.content {
  width: 1200px;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  /* background-image: url(/assets/img/background-image.jpg); */
  /* background-repeat: no-repeat;
    background-size: cover; */
  background-color: #fff;
  padding-bottom: 50px;
}
.product {
  margin: 30px 0;
}
.product__name {
  border-bottom: 1px solid rgb(219, 208, 208);
  padding-left: 15px;
  padding-bottom: 15px;
}

.product-detail {
  display: flex;
  justify-content: center;
}
select {
  color: var(--blue-color);
}
.product-detail__buys {
  width: 600px;
  padding-left: 40px;
  padding-top: 20px;
}
.product-detail-price__VND {
  display: block;
  font-size: 18px;
  color: red;
  margin: 10px 20px;
}
.product-detail__buys span {
  color: var(--blue-color);
  font-weight: 500;
}
.btn {
  margin-bottom: 10px;
  height: 44px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
  text-decoration: unset;
}
.btn:hover {
  opacity: 0.75;
  transition: linear 0.3s;
}
.buy-btn--now {
  background-color: rgb(250, 72, 49);
}
.buy-btn--installment {
  background-color: rgb(71, 26, 235);
}
.buy-btn--installment > span {
  color: #fff;
  font-size: 13px;
}
.product-detail__name {
}
.product-detail__image {
  margin-top: 20px;
}
.product-detail__info {
  line-height: 1.5;
  text-align: justify;
  max-width: 500px;
}
.product-detail__info > b {
  text-align: center;
  margin: 20px 0;
  display: block;
  font-size: 18px;
}
.product-detail__info span {
  color: var(--blue-color);
}
.product-detail__info> p {
  margin: 10px 0;
}
.configuration-watch {
  margin: 15px 0;
}
table {
  width: 100%;
  margin: 10px 0;
}
table td {
  padding: 8px 20px 8px 0;
}
.table-tr-odd {
  background-color: #f5f5f5;
}
.table-tr-even {
}
.btn-Back {
  width: 130px;
  position: fixed;
  bottom: 10px;
  right: 70px;
  background-color: #0ca4fc;
}
.btn-Back a {
  color: #fff;
  text-decoration: unset;
}
/* animation  */

@keyframes header__notify-growth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

